<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - EVP</title>
    <script src="{{ url_for('static', filename='jquery-3.5.1.min.js') }}"></script>
</head>
<body>
  <nav>
    <h1>BNA Search</h1>
    <ul>
        <li><span>Search</span>
        <li><a href="#">Candidates</a>
      <li><a href="#">Settings</a>
    </ul>
  </nav>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
</body>
</html>