{% extends 'base.html' %}

<h1>{% block title %}Downloading{% endblock %}</h1>

{% block content%}
<div>
<p>Downloading <span id="search_text">{{ downloading_info["search_text"] }}</span>
    - <span id="start_date">{{ downloading_info["start_date"] }}</span> -
    <span id="end_date">{{ downloading_info["end_date"] }}</span></p>
    <p>Downloaded <b><span id="downloaded_articles">{{downloading_info["downloaded_articles"]}}</span></b> of
        <b><span id="total_articles">{{downloading_info["total_articles"]}}</span></b></p>
</div>
    <script src="{{ url_for('static', filename='downloading.js') }}"></script>
{% endblock %}